*{
	font-family: Garamond, serif;
}
header{
	background: url(../img/mitra.jpg)  top center;
	
}
.container-fluid{
	margin: 0 ;
	padding: 	0;
}	
.row_first{
	background: #fff;
	margin: 0 ;
	padding: 	0;

}
.logo{
	font-family: Garamond, serif;
	background: #bf162b;
	color: #fff;
	padding-bottom:	22px;
	
}	
.logo h2{
	font-size: 30px ;
	line-height: 0.8;
	text-transform: uppercase;	
	margin: 0;
	padding-top: 20px;

}		
.logo p{
	font-size: 16px;
	line-height: 0.8;
	margin: 0;
	padding-top: 5px;
}
.list-m {
	border-right: 1px solid #d8d8d8;
	vertical-align: middle;
	margin-left: -10px;
	padding-left: 20px;
}
.list-m1, .list-m4 {
	margin-left: 4px;
	padding-left: 10px;
}
.list-m2{
	margin-left: 5px;
	padding-left: 9px;
}
.list-m3{
	margin-left: 	4px;
	padding-left: 7px;
}
.list-m a{
	line-height: 4.1;
	font-size: 20px;
	color: #737373;
	text-decoration: none;	
}	
.list-m a:hover{
	color: #bf162b;
}	
.phone{
	margin-left: 	-0.65%;
	padding-top: 20px;
	background-color: #fff;
}
.phone p{
	margin-bottom: -24px;
}
.codephone{
	color: #999999;
	font: 18px 'MyriadProRegular', sans-serif;
}
.numberphone{
	color: #242424;
	font: 18px 'MyriadProBold',sans-serif;
}
.phone a {
	text-decoration: none;	
	font: 13px "MyriadProRegular", sans-serif;
	letter-spacing: 0px;
	color: #bf162b;
	border-bottom: 1px dashed #bf162b;
}

.Sec1H h2{
	font: 50px Garamond, serif;
	color: #fff;
	margin-top: 7.4%;
	margin-left: -5px;
	line-height: 1.19;
}
.Sec1H h2 span{
	padding-right: 13px;
}
.IconBlock{
	font-size: 20px;
	margin-top: 60px;
	font: 20px Garamond, sans-serif;
	color: #fff;
}
.icon_1{
	margin-left: 55%;
}
.icon_2{
	margin-left: 44%;
}
.icon_3{
	margin-left: 32%;
}
.icon_4{
	margin-left: 21%;
}
.IconBlock p{
	margin-top: 17px;
	line-height: 1.2;
}

.IconBlock p.sentence_1{
	margin-left: 36%;
}
.IconBlock p.sentence_2{
	margin-left: 12%;
}
.IconBlock p.sentence_3{
	margin-right: 5%;
}
.IconBlock p.sentence_4{
	margin-right: 30%;
}
.But{
	margin-top: 92px;
}
.But a p{
	display: inline-block;
	font: 16px  'CharcoalCY',serif;
}
.But a{
	background: #bf162b;
	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 21px 33px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(163,19,36,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(163,19,36,1);
	box-shadow: 0px 3px 3px 0px rgba(163,19,36,1);
}
.But a:hover{
	background: #fff;
	color: #bf162b; 
}
.But img{
	padding-right: 60px;
}
.fact{
	margin-left: 11.5%;
	max-width: 1285px
}
.Number1 {
	margin-top: 115px;
	padding-right: 20px;
	margin-bottom: -4px;
}	
.Number1 img{
	margin-left: 4.8%;
}
.ContS{
	margin-top: 19px;
	padding-bottom: 75px;
	color: #fff;
	font: 18px Garamond, serif;
}
/*---------------------2------------------*/
.Wumen{
	background: #fff;
	margin-top: 7.55%;
	margin-bottom: 8.2%;
	font-family: Garamond, serif;
}	
.Wumen img{
	margin-left: 44.5%;
}	
.WumenText{
	margin-left: -70px;
	color: #737373
	
}	
.WumenText h3{
	font-size: 32px;
	margin-top: -3px;
}	
.WumenText p{
	margin-top: 23px;
	margin-bottom: 37px;
	font-size: 18px;
	line-height: 1.25;
}
/*----------------Libra------------------------------*/	
.Libra{
	height: 800px;
	background: url(../img/libra.jpg) no-repeat top center;
}
.Libra .form{
	width: 460px;
	height: 543px;
	background: #fff;
	margin-top: 16.2%;
	margin-left: -4px	;
}
.Libra .form h4{
	padding: 40px 0 34px 8px;
	line-height: 1.2;
	font: 25px Garamond, serif;
	color: #7d7d7d;
}
.Libra h4 span{
	color: #d68289;
}
.Libra .form .form-group{

	margin-bottom: 22px;
}
.Libra .form input{
	width: 	340px;
	height: 63px;
	border-radius: 0;
	box-shadow: none;
	margin-left: 	13%;
	padding-left: 36px;
	font: 20px "Garamond";
}

input::-webkit-input-placeholder{
	color: #b2b2b2;
	font: 20px "Garamond";
}
input::-moz-placeholder{
	color: #b2b2b2;
	font: 20px "Garamond";
	opacity: 1;
}
.btnLibra{
	background: #bf162b;
	text-decoration: none;
	font: 16px  "CharcoalCY";
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px 10px 40px;
	border: none;
	box-shadow: 0px 2px 0px 0px #a31325 ;
}
button.btnLibra img{
	margin-left: -10px;
	margin-right: 14px;
}

/*-------task--------*/
.task{
	
	background: #fff	;
}
.taskH{	
	background: url(../img/books.png) no-repeat bottom center;
}
.task h2{
	font: 50px "Garamond",serif;
	margin: 4.57% 0 2.95% -0.4%;
	
}
.task-1 p{
	font: 18px "Garamond",serif;
	color: #a1a1a1;
	text-align: center;
}
.text-top p{
	border: 1px solid #ccc;
	border-bottom: 0px;
	margin-bottom: 0;
	padding: 10px 6px;
	height: 145px;
}
.text-top p#top-p{
	padding-top: 12%;
}
.text-top p#top-p1{
	padding-top: 17%;
}
.task-1 .text-red{
	background: #bf162b;
	padding: 12px;
	height: 240px;
}
.task-1 .text-red .border-red p{
	padding: 20px 6px;
	color: #fff;
	margin: 0;

}
.task-1 .text-red .border-red{
	border: 1px solid #cc4555;
	width: 100%;
	height: 100%;
}

.task-1 .text-bottom p{
	text-align: left;
	margin: 7% 0 0 2%;
	padding-bottom: 22%;
}
hr{
	width: 68%;
}
.taskH p.note{
	font: 16px "Garamond",serif;
	color: #a1a1a1; 
	margin: -0.2% 0 1.4% 16.3% ;
}
/*----------Business_area-----------*/
section.Business_area{
	background: url(../img/house1.jpg)  top center;
	margin-bottom: 	-2%;
}
.Business_area h2{
	font: 50px Garamond, serif;
	color: #fff;
	margin: 4.3% 0 7%	-0.25px;
}
.Business_area img{
	display: inline-block;
	margin-bottom: 11%;
}
.Business_area p{
	font: 20px "Garamond",serif;
	color: #fff;
}

.Business_area hr{
	border-top: 1px solid #8c8a85;
}
.Business_area .row2 {
	max-width: 1320px;
	margin-left: 12%;
}
.Business_area .row3{
	max-width: 1320px;
	margin-left: 12%;
	margin-top: 3.2%;
}
.row4{
	margin-top: 2.75%;
}
.block{
	border-right: 1px solid #8c8a85;
	margin-left: -29.5%;
}
.Business_area .icon8{
	margin-left: 10px;
	margin-bottom: 25px;
}
/*--------------scheme-------------------------*/
section.scheme{
	margin: 0;
	padding: 0;
	background: url(../img/bg1.png); 
	position: relative;	
}
.scheme h2{
	font: 50px Garamond, serif;	
	color: #4d4d4d;
	margin-top: 3.5%;
}
.scheme h4 {
	font: 20px "CharcoalCY",serif;	
}
.scheme .circle img{ 
	position: absolute;
	top: 23.7%;
	left: 34.7%;
}
.scheme p{
	font: 20px "Garamond", serif;
	line-height: 	1.2;
}
.scheme .block1{
	margin: 28% 0 0 -0.5%;
}
.scheme .block1 h4{
	margin-top: 9%;
	margin-left: -6px;
}

.scheme .block1 p{
	margin-top: 25px;
}
.block1 a{
	color: #bf162b;
	border-bottom: 1px solid #bf162b;
}
.scheme .block2 p,.block3 p, .block2 h3, .block3 h3{
	display: inline-block;
}
.scheme .block2 h4{
	padding-right: 25%;
	margin-top: 3%;
}
.scheme .block2 p{
	margin-top: -3.5%;
	margin-right: 4.05%;
}
.block2 img.icon_right{
	float: right;
	margin-top: -10%;
}
.scheme .block2{
	margin-right: 19%;
	margin-top: -20.4%;
}
.scheme .block2.block2_1{
	margin-right: -7%;
	margin-top: 26.4%;
}
.scheme .block2.block2_1 img{
	margin-top: -8%;
}
.scheme .block2.block2_1 h4{
	padding-right: 21%;
	margin-top: -2%;
}
.scheme .block2.block2_1 p{
	margin-top: -1.9%;
	margin-right: 5.05%;
}
.scheme .block3{
	margin-left: 16%;
	margin-top: -17.2%;
}
.block3 img.icon_left{
	float: left;
}
.scheme .block3 h4{
	padding-left: 39px;
	margin-top: -1%;
	margin-left: 15%;
	line-height: 1.2;
}
.scheme .block3 p{
	padding-left: 26.5%;
	margin-top: -4%;
}
.scheme .block3.block3_1{
	margin-left: -7%;
	margin-top: 24.8%;
}
.scheme .block3.block3_1 p{
	padding-left: 5.4%;
	margin-top: -1.4%;
}	 
.scheme .block3.block3_1 h4{
	padding-left: 	5.1%;
	margin-top: 0;
} 
.scheme .But_1{
	margin-top: 4%;
	margin-bottom: 4.75%;

} 
.scheme .But.But_1 a {
	font: 16px  "CharcoalCY";
} 
.scheme .But.But_1 a.But1 img{
	padding-right: 0.8%;
}
/*---------------------confidence--------------*/
section.confidence{
	margin: 0;
	padding: 0;
	background: url(../img/house2.jpg)  top center;
}
.confidence h2{
	font: 50px Garamond, serif;	
	color: #fff;
	margin-top: 4.2%;
	margin-bottom: 5.68%;
}
.confidence .one{
	font: 80px 'Garamond',serif;
	color: #c5c6c7;
	display: inline-block;
	margin-left: -7%;
}
.confidence .one1{
	float: right;
	color: #fff;
	text-align: left;
}
.confidence .one1 h4{
	font: 20px "CharcoalCY",sans-serif; 
}
.confidence .one1 p{
	font: 20px "Garamond",serif;
	line-height: 1.2;
}
.confidence img.img-responsive{
	display: inline-block;
}
.confidence .col-left{
	margin-left: 3%;
}
.confidence .col-left .one1 h4{
	margin: 7% 0 9% 0;
}
.confidence .col-left img.img-responsive{
	margin-left: 23%;
}
.confidence .col-middle{
	margin-left: -3.1%;
}
.confidence .col-middle .one{
	margin-left: -8.5%;
}
.confidence .col-middle h4{
	margin: 6% 0 8.5% -10.8%;
}
.confidence .col-middle p{
	margin-left: -10.8%;
}
.confidence .col-right{
	margin-left: -7.2%;
}
.confidence .col-right .one{
	margin-left: -8.4%;
}
.confidence .col-right h4{
	margin: 7% 0 8% -15.95%;
}
.confidence .col-right p{
	margin-left: -15.95%;
}
.confidence .col-left1{
	margin-left: 15.7%;
}
.confidence .col-left1 img.img-responsive{
	margin: -6% 0 0 1.45%;
}
.confidence .col-left1 .one{
	margin: 10% 0 0 -9%
}
.confidence .col-left1 h4{
	margin: 11% 0 8% -13%;
}
.confidence .col-left1 p{
	margin-left: -13%;
}
.confidence .col-right1{
	margin-left: -13.3%;
}
.confidence .col-right1 img.img-responsive{
	margin-top: 0.5%;
}
.confidence .col-right1 .one{
	margin-left: -5.5%;
}
.confidence .col-right1 h4{
	margin: 9% 0 7.3% -46.5%;
}
.confidence .col-right1 p{
	margin-left: -46.5%;
}

.row_3{
	margin-top: 4%;
	margin-bottom: 5.8%;
}
/*--------------map---------------------*/
section.map{
	background: url(../img/map.png) top center;
}
.map .pointer{
	position: relative;
	background: url(../img/house3.jpg);
	margin-top: 21.5%;
	margin-left: 0.5%;
}
.pointer:after{
	content: "";
	position: absolute;
	left: 45%;
	border: 25px solid transparent;
	border-top: 23px solid #fff;
}
.map .pointer p{
	margin-top: 50px;
	margin-bottom: 110px;
	font: 20px Garamond;
}
.pointer p span{
	font-family: "CharcoalCY";
	color: #cc4555;
}
.map .form{

	margin: 34.2% 0 34.7% -23%;
	background: #fff;
}
.map .form h4{
	display: inline-block;
	padding: 7.4% 0 0 0;
	margin-bottom: 9%;
	font: 25px Garamond, serif;
	color: #262626;
}
.map .form form{
	padding: 0 13%;
}
.map .form input.form-control{
	height: 62px;
	border-radius: 0;
	padding: 6px 34px;
}
.map .form form .form-group{
	margin-bottom: 6.8%;
}
.map .form form .btnLibra{
	padding: 3% 29%; 
	margin: -1% 0	15% 0;
}
.map form .btnLibra img{
	margin-left: -56%;
	margin-right: 40%;
}
/*--------------footer-----------------*/
footer{
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
}
footer .logo1{
	background: #bf162b;
	color: #fff;
	font: 16px Garamond, serif;
	padding: 1% 0;
	margin-right: 4%;
}
footer .logo1 h2{
	font-size: 30px;
	margin-top: 5.9%;
}
footer .logo1 p{
	margin: -6% 0 7%;
}
footer .col_menu{
	margin-left: -2.8%;
}
.col_menu ul{
	list-style-type: none;

}
.col_menu li{
	display: inline-block;
	line-height: 5;
	border-right: 1px solid #d8d8d8;
	margin-top: 0.8%;
}
.col_menu li.li1{
	padding-right: 2.8%;
}
.col_menu li.li2{
	padding-left: 4.6%;
	padding-right: 5%;
}
.col_menu li.li3{
	padding-left: 2.4%;
	padding-right: 3%;
}
.col_menu li.li4{
	padding-left: 3.3%;
	padding-right: 4.2%;
}
.col_menu li.li5{
	padding-left: 4.1%;
	padding-right: 4.9%;
}
.col_menu li a{
	font: 20px Garamond, serif;
	color: #7f7f7f;
	text-decoration: none;
}	
.col_menu li a:hover{
	color: #bf162b;
}
.phone1{
	margin-top: 9%;
	margin-right: -3%;
}
.phone1 p{
	font: 18px "MyriadProBold",serif;
	color: #242424;
	margin-bottom: -3px;
}
.phone1 p span{
	color: #b8b8b8;
}
.phone1 a{
	font: 13px "MyriadProRegular",serif;
	color: #bf162b;
	border-bottom: 1px dashed #bf162b;
}
@media screen and(max-width:768px){
	.Wumen img {
    margin-left: -0.5%;
}
	.WumenText {
    margin-left: -25px;
  }
}
@media screen and(max-width:320px){
	.map .form form .btnLibra{
		font: 12px "CharcoalCY";
	}
}	
